body{
    background-color: rgb(173, 173, 173);
}

.nav-link:hover{
  cursor: pointer;
}


.switch {
    position: relative;
    display: block;
    width: 40px;
    height: 23px;
    float: right;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .card{
      padding-left: 1rem;
  }

  .card-button{
      max-width: 10rem;;
      margin: auto;
      margin-bottom: .5rem;
  }

  .card-header{
      font-size: 1rem;
  }

  .loadimg{
      max-width: 5rem;
      display: block;
      margin: auto;
  }

  .coin-icon{
    max-width: 5rem;
    display: block;
    margin: auto;
    border-radius: 50%;
  }

  .modal-style{
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .modal-content{
    max-width: 70%;
    margin: auto;
  }

  label.switch.in-modal{
    margin-bottom: 0;
    margin: auto 0;
    line-height: 28px; 
  }
  div.in-modal{
    text-align: center;
    vertical-align: middle;
  }